img {
width: 100%;
}

.preview {
  display: none;
}

.preview-img {
  max-width: 400px;
  max-height: 400px;
  margin: 8px auto;
}

.title-2, .title-done {
  display: none;
}

.canvas-container {
  display: none;
}

.share, .download, .success-msg {
  display: none;
}

#share-fb, #btn-download {
  width: 100%;
}

#canvas {
  display: block;
  margin: 8px auto;
}

/* #cropper-container {
  width: 256px;
  height: 256px;
  display:block;
  margin:auto;
} */

#btn-browse-fb {
  background-color: #3B5998 !important;
  border-style: none;
}
#btn-browse-fb, #btn-browse-device {
  width: 100%;
}

#confirm-crop-button {
  margin: 12px auto 12px auto;
  display: block;
  background-color: #ffcc33 !important;
  border-style: none;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  height: 50px;
}

/* Larger than mobile */
@media (min-width: 500px) {
  #confirm-crop-button {
    width: 60%;
    max-width: 200px;
  }
}
